<img class="logo-main" src="/assets/images/Logo_Strascook_Alpha.png" width="450" alt="Logo Thing main logo">


<nav class="navbar navbar-expand-lg navbar-light  ">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-center" id="navbarTogglerDemo01">

			<ul class="navbar-nav">

				<li class="nav-item">
					<a class="nav-link" href="/">ACCUEIL</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/apropos">A PROPOS</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/menu">NOTRE CARTE</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/form">CONTACT</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/panier">PANIER</a>
				</li>

			</ul>
			<a href="/reservation"><button type="button" class="btn ac btn-lg" href="/">Réserver</button></a>

		</div>
	</div>
</nav>
