{% extends 'layout.html.twig' %}

{% block content %}
	<div class="containe text-center">
		<div class="pill rounded-pill border border-2 p-2 my-5 shadow-sm  col-11 col-md-8 col-lg-5 m-auto">
			<h4 class='m-0'>BIENVENUE</h>
		</div>
	</div>
	<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
			<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
		</div>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img src="/assets/images/accueil.jpg" class="d-block w-100" alt="...">
			</div>
			<div class="carousel-item">
				<img src="/assets/images/accueil2.jpg" class="d-block w-100" alt="...">
			</div>
			<div class="carousel-item">
				<img src="/assets/images/accueil3.jpg" class="d-block w-100" alt="...">
			</div>
			<div class="carousel-item">
				<img src="/assets/images/accueil4.jpg" class="d-block w-100" alt="...">
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
	<div class="container">
		<div class="row">
			<div class="presentation">
				<h3>INVITER SES AMIS SANS AVOIR À SE SOUCIER DU REPAS</h3>
				<p>
					Yavuz Kutuk, passionné de cuisine et Chef depuis plus de 15 ans, vous propose de surprendre vos invités en leur offrant une expérience différente qui leur permettra de changer leur regard sur la cuisine végane.
					<br>
					Nos repas sont à base de produits frais, de saison, essentiellement locaux et entièrement bio.
					<br>
					Vous pouvez vous consacrer entièrement à vos invités, on s'occupe de tout, depuis les courses, en passant par la préparation du repas, le service et le rangement de la cuisine!

				</p>
			</div>
		</div>

	</div>
{% endblock %}
