img{
    width: 70%;

}

.card-text{
    font-size: 1.2rem;
    text-align: center;



}

 .contact{
    font-size: 18px;
    font-weight: bold;

    text-align:center;
}

.contact a {
    color: #3f9109;

}

@media screen and (min-width : 768px) and (max-width : 980px) {
    .row{
        display: flex;
        flex-direction: column;
    }

    .image{
        text-align: center;
        margin-bottom: 3vh;
    }
     img{
         width: 100%;
     }
}


