:root {
    /* Couleurs boutons */

    --primary-btn: #c0d904;
    --secondary-btn: #72a603;
    --catchy-btn: #d93d4a;

    /* Couleurs de contraste */

    --dark: #181413;
    --dark-green: #274001;
    --dark-sand: #d98c4a;
}

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300&display=swap');

body {
    font-family: "Montserrat", sans-serif;
}

.toast {
    font-family: 'Plus Jakarta Sans', sans-serif; ;
}

.btn.ac {
    background-image: linear-gradient(125deg, #72a603, #c0d904);
    color: white;
    width: 10rem;
}

.btn.col {
    background-image: linear-gradient(125deg, #72a603, #c0d904);
    color: white;
}

.carousel-inner {
    margin: auto;
    height: 70%;
    width: 60%;
}

.presentation {
    text-align: center;
    margin: auto;
    padding: 40px;
    color: rgb(6, 111, 116);
}

