{% extends "layout.html.twig" %}

{% block title %}Admin Strascook
{% endblock %}

{% block stylesheet %}

{% endblock %}

{% block content %}

<h1 class="fs-3 m-4 mb-5">Bienvenue sur votre espace administrateur</h1>

<div class="container text-center">
    <section class="online m-4">
    <h3>Actuellement sur le site</h3></section>

    <section class='ongoing_order m-4'><h3>Commandes en cours</h3></section>
</div>





{% endblock %}

{% block javascript %}
	
{% endblock %}
