{% extends 'layout.html.twig' %}

    
{% block content %}

{{dump(user)}}

{{dump(product)}}


<section class="products container">
    <div class="row">
        <h1>Mon panier</h1>
      
        {% for item in product %}
      <table>
         <tr>
            <tr style="border-bottom:1px solid #CCCC; padding-bottom:5px">
            <td style="width:200px;">
                <h3>{{item.name}}</h3>
            </td>
            <td style="width:200px;">
                <p>{{item.price}}€</p>
            </td>
            <td style="width:200px;">
            </td>
            </tr>
        </table>
        {% endfor %}

    </div>
</section>

 {% endblock %}