{% extends "./layout.html.twig" %}
	{% block title %}Strascook - Commande confirmée !
			{% endblock %}

{% block title %} Votre commande est confirmée !{% endblock %}

{% block content %}

<section class=" container border border-1 rounded-3 shadow mt-5 mb-5 pt-5 text-center col-11 col-md-7">

<h1>Votre commande est validée !</h1>
<h3>Celle-ci a bien été prise en compte, <br> merci pour votre confiance. 🎉 </h3>

<p class='mt-4'>Vous devriez recevoir un email de confirmation dans quelques instants.</p>

<div class="text-center"><a href="/">
<button type="button" class="btn btn-primary mb-5 mt-4 ">Retour à l'accueil</button></a></div>

</section>


{% endblock %}
